/****************************************Import Sections******************************************/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "_mixins";

/************************************************************************************************/

/****************************************Global Variables****************************************/

$outterGreen: #006838;
$innerGreen:#39b54a;
$bsGrey: #6a6a54;
$bsDarkGrey: #404442;
$bsYellow: #d7df23;

/************************************************************************************************/

/****************************************Big Screens*********************************************/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    background:$outterGreen;
    background: linear-gradient(338deg, $outterGreen 35%, $innerGreen    100%);
    min-height: 100vh;
    cursor: default;
}

.logo{
    @include flexParent(column);
    .logo-img{
        /*background-color: blue;*/
        flex: 1; 
    }
}

.message{
    .titles{
        text-align: center;
        h1{
            @include yellowTitles(7vh);
        }
        h3{
            @include yellowTitles(4vh);
        }
    }
}

.notify-me-section{
    @include flexParent(row);
    justify-content: space-around;
    margin-top: 2vh;
    .notify-me-container{
        display: flex;
        button{
            @include button();
        }
    }
}
.countdown{
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: $bsYellow;
    margin: 2vh;
    font-size: 11vh;
}
.social-media-section{
    @include flexParent(row);
    justify-content: space-around;
    margin-top: 3vh;
    .social-media-container{
        display: flex;
        
        .fa{
            @include faFont(6vh);
            text-shadow: 0.3vh 0.3vh $bsDarkGrey;
            flex: 1;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

.contact-section{
    @include flexParent(row);
    .contact-container{
        flex: 1;
        margin: 2vh;
        h3{
            @include yellowTitles(3.5vh);
            font-weight: bold;
        }
        p{
            @include yellowTitles(2.5vh);
        }
    }
}

/************************************************************************************************/

/*****************************************Global Properties**************************************/

.fa-linkedin{
    color: #0274b3
}
.fa-facebook{
    color: #345291;
}
.fa-twitter{
    color: #5da9de;
}
.fa-instagram{
    color: #d3164e;
}

/************************************************************************************************/

/*************************************On Smaller Screens****************************************/

@media screen and (max-width: 768px){
    .countdown{
        font-size: 8vh;
    }
    .message{
        .titles{
            text-align: center;
            h1{
                font-size: 4vh;
            }
            h3{
                font-size: 2vh;
            }
        }
    }
    .social-media-section{
        .social-media-container{
            .fa{
                font-size: 4vh;
            }
        }
    }
    .contact-section{
        flex-direction: column;
        .contact-container{
            margin: 2vh;
            text-align: center;
            h3{

                @include yellowTitles(2.8vh);
                font-weight: bold;
            }
            p{
                @include yellowTitles(1.8vh);
            }
        }
    }
}

/************************************************************************************************/