/****************************************Import Sections******************************************/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/************************************************************************************************/
/****************************************Global Variables****************************************/
/************************************************************************************************/
/****************************************Big Screens*********************************************/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background: #006838;
  background: linear-gradient(338deg, #006838 35%, #39b54a 100%);
  min-height: 100vh;
  cursor: default;
}

.logo {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo .logo-img {
  /*background-color: blue;*/
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.message .titles {
  text-align: center;
}

.message .titles h1 {
  color: #d7df23;
  font-size: 7vh;
  text-shadow: 0.3vh 0.3vh #404442;
}

.message .titles h3 {
  color: #d7df23;
  font-size: 4vh;
  text-shadow: 0.3vh 0.3vh #404442;
}

.notify-me-section {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
}

.notify-me-section .notify-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notify-me-section .notify-me-container button {
  font-family: 'Merriweather', serif;
  font-size: 3vh;
  background-color: transparent;
  border: 2px solid #d7df23;
  padding: 2vh;
  color: #d7df23;
  text-shadow: 0.3vh 0.3vh #404442;
}

.notify-me-section .notify-me-container button:hover {
  opacity: 0.7;
}

.countdown {
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: #d7df23;
  margin: 2vh;
  font-size: 11vh;
}

.social-media-section {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-around;
  margin-top: 3vh;
}

.social-media-section .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media-section .social-media-container .fa {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 3.5vh;
  margin-right: 3.5vh;
  font-size: 6vh;
  text-align: center;
  text-decoration: none;
  text-shadow: 0.3vh 0.3vh #404442;
  flex: 1;
}

.social-media-section .social-media-container .fa:hover {
  opacity: 0.7;
}

.contact-section {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-section .contact-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2vh;
}

.contact-section .contact-container h3 {
  color: #d7df23;
  font-size: 3.5vh;
  text-shadow: 0.3vh 0.3vh #404442;
  font-weight: bold;
}

.contact-section .contact-container p {
  color: #d7df23;
  font-size: 2.5vh;
  text-shadow: 0.3vh 0.3vh #404442;
}

/************************************************************************************************/
/*****************************************Global Properties**************************************/
.fa-linkedin {
  color: #0274b3;
}

.fa-facebook {
  color: #345291;
}

.fa-twitter {
  color: #5da9de;
}

.fa-instagram {
  color: #d3164e;
}

/************************************************************************************************/
/*************************************On Smaller Screens****************************************/
@media screen and (max-width: 768px) {
  .countdown {
    font-size: 8vh;
  }
  .message .titles {
    text-align: center;
  }
  .message .titles h1 {
    font-size: 4vh;
  }
  .message .titles h3 {
    font-size: 2vh;
  }
  .social-media-section .social-media-container .fa {
    font-size: 4vh;
  }
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-section .contact-container {
    margin: 2vh;
    text-align: center;
  }
  .contact-section .contact-container h3 {
    color: #d7df23;
    font-size: 2.8vh;
    text-shadow: 0.3vh 0.3vh #404442;
    font-weight: bold;
  }
  .contact-section .contact-container p {
    color: #d7df23;
    font-size: 1.8vh;
    text-shadow: 0.3vh 0.3vh #404442;
  }
}

/************************************************************************************************/
/*# sourceMappingURL=style.css.map */